<ul class="nav nav-list">
  <li class="nav-header">PowerDNS</li>
  <li><a href="<%= root_path %>">Home</a></li>
  <li><a href="http://doc.powerdns.com">PowerDNS Documentation</a></li>
  <li class="nav-header">Domains</li>
  <li><a href="<%= domains_path %>">List all Domains</a></li>
  <li><a href="<%= new_domain_path %>">Add new Domain</a></li>
</ul>